# Data Science in Economics and Business - Class Project
In this class project, you are supposed to work with experimental data from the paper "The Many Faces of Human Sociality: Uncovering the Distribution and Stability of Social Preferences" by Bruhin, Fehr, and Schunk, published in the *Journal of the European Economic Association* 17(4): 1025-1069, 2019: https://doi.org/10.1093/jeea/jvy018

**IMPORTANT:** <br>
Please enter the matriculation number of all group members here:
1. 2493143
2. 2260326
3. 2796816

In this class project, you will use the different techniques taught in the course: data handling, data visualization, and machine learning.

First load the necessary packages. <br>
If you want to use additional libraries you can add them to the following cell:

In [2]:
import pandas as pd
import seaborn as sns
sns.set()

The authors observe human behavior in the so-called dictator game: One player (*dictator*) receives a certain amount of money and can distribute this endowment between herself and another player (*receiver*). The decision of the dictator is implemented, and the receiver has no choice to take and must accept the dictator's decision. <br>
The authors employ a binary version of the dictator game in which the dictator can choose between two alternative allocation options *X* and *Y*. Each dictator in the experiment plays 30 of these dictator games with varying pairs of decision alternatives. <br>
All subjects in the experiment were students from the University of Zurich and the Swiss Federal Institute of Technology Zurich.

# Problem 1 - Data Handling
The basis of your work will be the following two datasets:
- `choices.csv` contains the decisions of the dictators across the 30 variations of the binary dictator game.
    - *sid* is the ID of the subject.
    - *gid* is the ID of the game variation.
    - *order* is the (random) order in which the game appeared in the block of dictator games.
    - *self_x* and *self_y* are the payoffs of the dictator in choice option X and Y, respectively.
    - *other_x* and *other_y* are the payoffs of the receiver in choice option X and Y, respectively.
    - *choice_x* describes the decision of the dictator, with a value of 1 representing the choice of option X, and 0 the choice of option Y.
    - *s_x* and *s_y* are indicators of disadvantageous inequality for the dictator in option X and option Y, respectively. That is, *s_x* equals 1 if the dictator receives lower payoff in option X than the receiver, and 0 if the dictator receive higher payoff in option X than the receiver. 
    - *r_x* and *r_y* are indicators of advantageous inequality for the dictator in option X and option Y, respectively. That is, *r_x* equals 1 if the dictator receives higher payoff in option X than the receiver, and 0 if the dictator receive lower payoff in option X than the receiver. 
    - Note that *r_x = 1 - s_x* and *r_y = 1 - s_y*
- `subjects.csv` contains the results from the post-experimental questionnaire.
    - *sid* is the ID of the subject.
    - *bf_consciousness, bf_openness, bf_extraversion, bf_agreeableness, bf_neuroticism* are the results from the Big Five measures.
    - *cogabil* is a measure of cognitive ability.
    - *pe_D1_stud_natsci, pe_D1_stud_law, pe_D1_stud_socsci, pe_D1_stud_med* indicate the subject's field of study (natural sciences, law, social sciences, or medicine, respectively).
    - *pe_monthinc* is the subject's monthly income.
    - *pe_age* is the subject's age.
    - *pe_female* equals 1 if the subject is female, and 0 otherwise.

In [10]:
choices = pd.read_csv("data/choices.csv", sep=",")
choices

,sid,gid,order,self_x,self_y,other_x,other_y,choice_x,s_y,s_x,r_y,r_x
0,102010050706,361,1,940,800,150,510,0,0,0,1,1
1,102010050706,281,2,970,770,490,170,0,0,0,1,1
2,102010050706,391,3,1060,680,330,330,1,0,0,1,1
3,102010050706,271,4,990,750,480,180,1,0,0,1,1
4,102010050706,311,5,930,810,510,150,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6781,172010050704,251,35,780,420,540,660,1,1,0,0,1
6782,172010050704,191,36,680,520,780,420,0,0,1,1,0
6783,172010050704,221,37,620,580,410,790,1,1,0,0,1
6784,172010050704,231,38,670,530,420,780,1,1,0,0,1
6785,172010050704,171,39,640,560,790,410,0,0,1,1,0

In [11]:
subjects = pd.read_csv("data/subjects.csv", sep=",")
subjects

,sid,bf_consciousness,bf_openness,bf_extraversion,bf_agreeableness,bf_neuroticism,cogabil,pe_D1_stud_natsci,pe_D1_stud_law,pe_D1_stud_socsci,pe_D1_stud_med,pe_monthinc,pe_age,pe_female
0,12010050501,9,17,4,11,-1,3,1,0,0,0,400,21,1
1,12010050502,5,22,4,7,7,7,1,0,0,0,800,21,0
2,12010050603,4,18,4,9,7,3,0,0,1,0,800,23,0
3,12010050704,8,17,1,10,7,9,1,0,0,0,500,22,0
4,12010050705,10,15,-3,12,0,4,0,0,0,1,350,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,312010050705,5,18,0,11,1,12,1,0,0,0,500,20,0
156,322010050501,6,18,8,8,8,6,0,0,0,1,450,20,1
157,332010050501,7,19,8,7,-1,6,0,0,0,1,600,20,0
158,342010050501,10,17,0,9,7,8,0,0,0,1,300,20,1
159,352010050501,13,24,7,8,3,6,0,0,0,1,150,21,1

#### a)
Merge the two datasets into one. <br>
Check whether you have behavioral data (from `choices`) and personal information (from `subjects`) on all subjects. <br>
If not, create an indicator for missing data and list the IDs of the subjects concerned.

In [12]:
# Merge datasets on 'sid' column
merged_df = pd.merge(choices, subjects, on='sid', how='outer', indicator=True)

# Create an indicator for missing data
merged_df['missing_data'] = merged_df['_merge'] != 'both'

# List the IDs of the subjects with missing data
missing_subjects = merged_df[merged_df['missing_data']]['sid'].unique()

# Display the merged dataframe and missing subjects
print("Merged DataFrame with Missing Data Indicator:")
print(merged_df)
print("\nIDs of subjects with missing data:")
print(missing_subjects)

Merged DataFrame with Missing Data Indicator:
               sid  gid  order  self_x  self_y  other_x  other_y  choice_x  \
0      12010050501  121      1     510     150      810      930         1
1      12010050501  341      2     870     870      140      520         1
2      12010050501  291      3     890     850      520      140         1
3      12010050501  101      4     400     260      690     1050         1
4      12010050501  351      5     890     850      140      520         1
...            ...  ...    ...     ...     ...      ...      ...       ...
6781  362010050501  141     35     720     480      750      450         0
6782  362010050501  211     36     600     600      410      790         1
6783  362010050501  171     37     640     560      790      410         0
6784  362010050501  221     38     620     580      410      790         1
6785  362010050501  251     39     780     420      540      660         1

      s_y  s_x  ...  cogabil  pe_D1_stud_natsci  pe_D1_stud_law  \
0       1    1  ...      3.0                1.0             0.0
1       0    0  ...      3.0                1.0             0.0
2       0    0  ...      3.0                1.0             0.0
3       1    1  ...      3.0                1.0             0.0
4       0    0  ...      3.0                1.0             0.0
...   ...  ...  ...      ...                ...             ...
6781    0    1  ...      NaN                NaN             NaN
6782    1    0  ...      NaN                NaN             NaN
6783    0    1  ...      NaN                NaN             NaN
6784    1    0  ...      NaN                NaN             NaN
6785    1    0  ...      NaN                NaN             NaN

      pe_D1_stud_socsci  pe_D1_stud_med  pe_monthinc  pe_age  pe_female  \
0                   0.0             0.0        400.0    21.0        1.0
1                   0.0             0.0        400.0    21.0        1.0
2                   0.0             0.0        400.0    21.0        1.0
3                   0.0             0.0        400.0    21.0        1.0
4                   0.0             0.0        400.0    21.0        1.0
...                 ...             ...          ...     ...        ...
6781                NaN             NaN          NaN     NaN        NaN
6782                NaN             NaN          NaN     NaN        NaN
6783                NaN             NaN          NaN     NaN        NaN
6784                NaN             NaN          NaN     NaN        NaN
6785                NaN             NaN          NaN     NaN        NaN

         _merge  missing_data
0          both         False
1          both         False
2          both         False
3          both         False
4          both         False
...         ...           ...
6781  left_only          True
6782  left_only          True
6783  left_only          True
6784  left_only          True
6785  left_only          True

[6786 rows x 27 columns]

IDs of subjects with missing data:
[ 62010050706  82010050705 102010050706 122010050603 132010050706
 152010050706 162010050502 172010050501 172010050704 192010050502
 202010050704 212010050704 292010050502 362010050501]

#### b)
Try out different representations of the data (long vs. wide etc.).

In [13]:
# with the current data structure, we already have a wide representation of the data
# means each subject has a single row with columns for each game variation and personal information.

# To transform the data into long format, we can use pd.melt to reshape the DataFrame so that each row corresponds to a single observation in a game.
# The id_vars parameter contains columns that should remain as identifiers (sid and the columns from the subjects DataFrame). 
# The value_vars parameter lists the columns that should be unpivoted. The resulting DataFrame (long_df) will have three main columns: sid, variable, and value.

# Columns related to choices
choice_cols = ['gid', 'order', 'self_x', 'self_y', 'other_x', 'other_y', 'choice_x', 's_x', 's_y', 'r_x', 'r_y']

# Melting the merged dataframe to long format
long_df = pd.melt(merged_df, id_vars=['sid'] + list(subjects.columns[1:]), 
                  value_vars=choice_cols, 
                  var_name='variable', value_name='value')

# Display the long dataframe
print("\nLong Format DataFrame:")
print(long_df)

Long Format DataFrame:
                sid  bf_consciousness  bf_openness  bf_extraversion  \
0       12010050501               9.0         17.0              4.0
1       12010050501               9.0         17.0              4.0
2       12010050501               9.0         17.0              4.0
3       12010050501               9.0         17.0              4.0
4       12010050501               9.0         17.0              4.0
...             ...               ...          ...              ...
74641  362010050501               NaN          NaN              NaN
74642  362010050501               NaN          NaN              NaN
74643  362010050501               NaN          NaN              NaN
74644  362010050501               NaN          NaN              NaN
74645  362010050501               NaN          NaN              NaN

       bf_agreeableness  bf_neuroticism  cogabil  pe_D1_stud_natsci  \
0                  11.0            -1.0      3.0                1.0
1                  11.0            -1.0      3.0                1.0
2                  11.0            -1.0      3.0                1.0
3                  11.0            -1.0      3.0                1.0
4                  11.0            -1.0      3.0                1.0
...                 ...             ...      ...                ...
74641               NaN             NaN      NaN                NaN
74642               NaN             NaN      NaN                NaN
74643               NaN             NaN      NaN                NaN
74644               NaN             NaN      NaN                NaN
74645               NaN             NaN      NaN                NaN

       pe_D1_stud_law  pe_D1_stud_socsci  pe_D1_stud_med  pe_monthinc  pe_age  \
0                 0.0                0.0             0.0        400.0    21.0
1                 0.0                0.0             0.0        400.0    21.0
2                 0.0                0.0             0.0        400.0    21.0
3                 0.0                0.0             0.0        400.0    21.0
4                 0.0                0.0             0.0        400.0    21.0
...               ...                ...             ...          ...     ...
74641             NaN                NaN             NaN          NaN     NaN
74642             NaN                NaN             NaN          NaN     NaN
74643             NaN                NaN             NaN          NaN     NaN
74644             NaN                NaN             NaN          NaN     NaN
74645             NaN                NaN             NaN          NaN     NaN

       pe_female variable  value
0            1.0      gid    121
1            1.0      gid    341
2            1.0      gid    291
3            1.0      gid    101
4            1.0      gid    351
...          ...      ...    ...
74641        NaN      r_y      1
74642        NaN      r_y      0
74643        NaN      r_y      1
74644        NaN      r_y      0
74645        NaN      r_y      0

[74646 rows x 16 columns]